<p id="notice"><%= notice %></p>

<p>
  <strong>Categoryname:</strong>
  <%= @category_master.categoryname %>
</p>

<%= link_to 'Edit', edit_category_master_path(@category_master) %> |
<%= link_to 'Back', category_masters_path %>
