<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_profile.name %>
</p>

<%= link_to 'Edit', edit_product_profile_path(@product_profile) %> |
<%= link_to 'Back', product_profiles_path %>
